@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>MyView</title>
    <style>
        body 
        {
            background-color: lightcyan;
        }
        section {
            
            border-radius: 1em;
            padding: 1em;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%)
        }
    </style>
</head>
<body>
    <section>
        <div class="text-center">
            <br /> <br />
            <h3 style="font-size: 30px; color:blue"> WELCOME </h3>
            <a style="color: darkblue "asp-action="Calculate">CLICK HERE TO PERFORM BASIC CALCULATION</a>
        </div>
    </section>
</body>
</html>